* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #F2BAC9;
    text-align: center;
}

.container {
    height: 70vh;

}

.game {
    height: 60vmin;
    width: 60vmin;
    justify-content: center;
    margin: 10vh auto;
    align-items: center;
    gap: 1.5vmin;
    display: flex;
    flex-wrap: wrap;
}

#heading {
    text-decoration: underline wavy;
    text-shadow: 1px 1px 10px black;
    font-weight: bolder;
}


.box {
    height: 18vmin;
    background-color: white;
    width: 18vmin;
    border-radius: 1rem;
    border: 1px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: gray;
}

.box:hover {
    transform: perspective(100px) rotate(5deg) scale(1.2);
    transition: all .1s linear;
    background-color: aliceblue;
}

.o {
    color: cyan;
}

.x {
    color: burlywood;
}

.msg-container {
    margin: 15px;
    font-size: 32px;
    font-weight: 600;
    color: gray;
}

.hide {
    display: none;
}

#reset {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 01);
    font-size: 4vmin;
    color: black;
    cursor: pointer;
    font-weight: 600;
}

#reset:hover {
    transform: perspective(100px) scale(1.2);
    transition: all .1s linear;
    background-color: rgb(198, 221, 241);

}